.infertility {
  padding-top: 92px;
  padding-bottom: 75px;
}

.infertility__heading {
  margin-bottom: 85px;
}

.infertility__item-heading {
  @include reset;
  @include fancy-font;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 30px;
}

.infertility__section-description {
  @include reset;
  margin-top: -69px;
  margin-bottom: 50px;
  text-align: center;
}

.infertility__item-description {
  @include reset;
  margin-bottom: 30px;
  hyphens: auto;

  &--nowrap {
    white-space: nowrap;
  }
}

@media (min-width: $tablet-width) {
  .infertility {
    // padding-bottom: 450px;
    background-repeat: no-repeat;
    background-size: auto;
    // background-position: center bottom 25px;

    &--infertility {
      background-image: url("../images/landings/image-couple.png");
      background-position: center top 185px;
      // background-size: 80%;
    }

    &--d-doctor {
      background-image: url("../images/landings/image-sad.png");
      background-position: center top 160px;
    }

    &--ultrasound {
      background-image: url("../images/landings/image-bg.jpg");
      background-size: 500px;
      background-position: center top 200px;
    }
  }

  .infertility__heading {
    padding-bottom: 450px;
  }
}

@media (min-width: $desktop-width) {
  .infertility {
    padding-bottom: 75px;
    background-position-x: calc(50% + 397px);

    &--infertility {
      // background-position-y: 444px;
      background-position-y: 275px;
    }

    &--d-doctor {
      background-position-y: 205px;
    }

    &--ultrasound {
      background-position-y: 400px;
    }
  }

  .infertility__heading {
    padding-bottom: 0;
  }

  .infertility__item-description {
    max-width: 710px;
  }
}
