.what-to-do {
  position: relative;
  padding-top: 90px;
  padding-bottom: 30px;

  &::before {
    @include abs-pseudo;
    top: 480px;
    left: calc(50% - 430px);
    display: none;
    width: 1px;
    background-color: $main-color;
    z-index: 1;
  }

  &--infertility {
    &::before {
      height: 800px;
    }
  }

  &--d-doctor {
    &::before {
      height: 360px;
    }
  }

  &--ultrasound {
    &::before {
      height: 700px;
    }
  }
}

.what-to-do__heading {
  margin-bottom: 16px;
}

.what-to-do__subheading {
  @include reset;
  margin-bottom: 50px;
  text-align: center;
  font-weight: normal;
}

.what-to-do__notice {
  @include d-flex(nowrap, column, center, center);
  margin: 0 auto 65px;
  padding: 45px 30px 45px;
  border: 1px solid $main-color;
  border-radius: 57px;
}

.what-to-do__notice-big {
  @include reset;
  @include fancy-font;
  flex-grow: 1;
  flex-shrink: 0;
  color: $main-color;
  font-size: 64.74px;
  line-height: 86.31px;
}

.what-to-do__notice-small {
  @include reset;
  hyphens: auto;
}

.what-to-do__block {
  position: relative;
  margin-bottom: 68px;

  &::before {
    @include abs-pseudo;
    top: -5px;
    left: 0;
    width: 66px;
    height: 66px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid $main-color;
    z-index: 2;
  }

  &::after {
    @include d-flex(nowrap, row, center, center);
    @include fancy-font;
    position: absolute;
    top: 0;
    left: 5px;
    width: 56px;
    height: 56px;
    font-size: 21px;
    background-color: $main-color;
    border-radius: 50%;
    z-index: 3;
  }

  &:first-of-type::after {
    content: "1";
  }

  &:nth-of-type(2)::after {
    content: "2";
  }

  &:nth-of-type(3)::after {
    content: "3";
  }

  &--nota-bene {
    padding-left: 75px;

    &::before {
      left: 0;
    }

    &::after {
      content: "!";
      left: 5px;
    }
  }
}

.what-to-do__block-heading {
  @include reset;
  @include fancy-font;
  max-width: 270px;
  margin-bottom: 10px;
  padding-left: 75px;
  letter-spacing: 0.015em;
  font-size: 21px;
  line-height: 30px;
}

.what-to-do__block-description {
  @include reset;
  margin-bottom: 26px;

  &--after-list {
    margin-top: 25px;
  }

  &--alert {
    color: #a50084;
    font-size: 16px;
  }
}

.what-to-do__block-list {
  @include list-reset;
}

.what-to-do__list-item {
  position: relative;
  padding-left: 20px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  &::before {
    @include abs-pseudo;
    top: 50%;
    left: 0;
    width: 7px;
    height: 7px;
    background-color: $main-color;
    border-radius: 50%;
    transform: translateY(-50%);
  }
}

.what-to-do__detailed-list {
  @include list-reset;
  padding-top: 20px;
}

.what-to-do__detailed-item {
  @include d-flex(nowrap, column, flex-start, flex-start);
  margin-bottom: 30px;
}

.what-to-do__detailed-heading {
  @include reset;
  flex-shrink: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
}

.what-to-do__detailed-paragraph {
  @include reset;
  hyphens: auto;

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.what-to-do__button-wrapper {
  margin-top: 110px;
  margin-bottom: 0;
}

.what-to-do__photo-block {
  @include d-flex(nowrap, row, flex-end, flex-start);
  margin-bottom: 68px;
}

.what-to-do__photo-wrapper {
  @include d-flex(nowrap, column, flex-start, center);
  width: 100%;
  max-width: 300px;
}

.what-to-do__photo-heading {
  @include reset;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

.what-to-do__photo-img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .what-to-do {
    &::before {
      left: calc(50% - 317px);
      display: block;
    }

    &--infertility {
      &::before {
        top: 535px;
        height: 910px;
      }
    }

    &--d-doctor {
      &::before {
        top: 720px;
      }
    }

    &--ultrasound {
      &::before {
        top: 565px;
        height: 1170px;
      }
    }
  }

  .what-to-do__subheading {
    max-width: 950px;
    margin: 0 auto 50px;
  }

  .what-to-do__notice {
    flex-direction: row;
    width: 711px;
    min-height: 113px;
    padding: 30px 70px 30px 90px;
  }

  .what-to-do__notice-big {
    margin-right: 34px;
  }

  .what-to-do__notice-small {
    max-width: 400px;
  }

  .what-to-do__block {
    padding-left: 90px;

    &--nota-bene {
      // max-width: 765px;
      // margin: 0 auto;
      padding-left: 80px;

      &::before {
        left: -70px;
      }

      &::after {
        content: "!";
        left: -65px;
      }
    }

    &::before {
      left: 0;
    }

    &::after {
      left: 5px;
    }
  }

  .what-to-do__block-list {
    max-width: 610px;
  }

  .what-to-do__block-heading {
    max-width: none;
    padding-left: 0;
  }

  .what-to-do__detailed-item {
    flex-direction: row;
  }

  .what-to-do__detailed-heading {
    flex-basis: 240px;
    margin-bottom: 0;
  }

  .what-to-do__detailed-paragraph {
    padding-right: 35px;
  }
}

.what-to-do__photo-wrapper {
  max-width: 610px;
}

.what-to-do__photo-img {
  // width: 610px;
}

@media (min-width: $desktop-width) {
  .what-to-do {
    &::before {
      left: calc(50% - 430px);
    }

    &--infertility {
      &::before {
        top: 480px;
      }
    }

    &--d-doctor {
      &::before {
        top: 735px;
      }
    }

    &--ultrasound {
      &::before {
        top: 530px;
        height: 1055px;
      }
    }
  }

  .what-to-do__block {
    padding-left: 250px;

    &::before {
      top: 4px;
      left: 138px;
    }

    &::after {
      top: 9px;
      left: 143px;
    }

    &--nota-bene {
      max-width: 782px;
      margin: 0 auto;
      padding-left: 40px;

      &::before {
        left: -70px;
      }

      &::after {
        content: "!";
        left: -65px;
      }
    }
  }

  .what-to-do__block-description {
    max-width: 800px;
  }

  .what-to-do__detailed-heading {
    flex-basis: 295px;
  }

  .what-to-do__detailed-paragraph {
    padding-right: 175px;
  }

  .what-to-do__photo-block {
    justify-content: center;
  }
}
